#include <cstdio>
#include <cstring>
#include <string>
#include <stdlib.h>

#include "c150debug.h"
#include "rpcproxyhelper.h"
#include "c150grading.h"

#include "IDL_NAME"

using namespace std;
using namespace C150NETWORK;  // for all the comp150 utilities

#define INT_BUFFER_SIZE 16
#define FLOAT_BUFFER_SIZE 41
#define STRING_BUFFER_SIZE 1

FUNCTIONS
DISPATCH